<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hefesto</title>
</head>
<body>  

    <div style="background-color: lightgray; margin-bottom:5px; height: 30px">

        <app-menu></app-menu>

        <a href="/private/desktop.xhtml">
            <img src="/src/static/img/logo.png" alt="" style="margin-bottom: -10px;" width="40px" height="30px">
        </a>
        <span style="font-weight: bold;">Hefesto</span>	
    </div>

    <div class="ui-fluid"
    style="margin: 0 auto; width: 350px; position: float;">
                
        <form id="formAutenticacao" role="form">

            <p-panel id="panelLogin" header="Authenticate">
                <div class="ui-fluid" style="margin-bottom: 10px">
                    <div class="p-field">
                        <label for="username">User:</label>
                        <div class="ui-inputgroup">
                            <span class="ui-inputgroup-addon"><i class="pi pi-user"></i></span>
                            <input type="text" pInputText id="username" value="loginCredentials.userId" 
                                placeholder="Inform your username" />
                        </div>
                    </div>
                </div>
                <div class="ui-fluid" style="margin-bottom: 10px">
                    <div class="p-field">
                        <label for="password">Password:</label>
                        <div class="ui-inputgroup">
                            <span class="ui-inputgroup-addon"><i class="pi pi-lock"></i></span>                            
                            <input type="password" pPassword id="password" value="loginCredentials.password" 
                                autocomplete="off" placeholder="Inform your password" />
                        </div>
                    </div>
                </div>
                <div class="ui-g">
                    <div class="ui-fluid" style="margin: 0 auto; width: 30%">
                        <button pButton type="button" label="Login" id="btnLogin" style="margin:5px;" ></button>   
                    </div>
                </div>

            </p-panel>

        </form>

</div>


<div class="rodape-central hidden-xs">
    <div class="info-browser">
        <span>messages['main.app.title']. Version: messages['build.version'] (messages['build.timestamp']).</span>
    </div>
</div>  

</body>
</html>